//убираем оформление ГЛОБАЛЬНОГО элемента li для главного меню
.navbar-nav li {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-image: none;
  display: block;
}

/*******************************************************************/
.main-menu {
  background-color: #f1f7f9;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  color: #002a35;
}

.navbar-nav .dropdown-menu a {
  color: #002a35;
}
.navbar-nav .dropdown-menu a:hover {
  color: #01aef2;
}

.navbar-nav .nav-item .nav-link{
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover{
  color: #01aef2;
}

.navbar .dropdown-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
}


@media screen and (max-width: 992px) {
  .main-menu {
    z-index: 1020;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  }
  /* Увеличиваем отступ у Хэдера из-за фиксации меню */
  .header {
    margin-top: 56px;
  }
  .main-menu .container .navbar .navbar-collapse {
    overflow-y: auto; //добавляем прокрутку меню
    bottom: 0;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    padding: 1rem 3rem;
    background-color: #f1f7f9;
  }
}



