/*****************************************************************************************/
/** Стили SVG иконок *********************************************************************/
/*****************************************************************************************/

//общие стили /////////////////////////////////////
.svg-icon {
  display: block;
  background-repeat: no-repeat;
  background-color: transparent;
}


//персональные стили //////////////////////////////
.icon-phone-call {
  background-image: url(/img/svg/phone-call.svg);
  width: 30px;
  height: 36px;
  margin-bottom: 25px;
  float: left;
}

.icon-menu {
  background-image: url(/img/svg/menu.svg);
  width: 30px;
  height: 30px;
}


.icon-vk-gray {
  background-image: url(/img/svg/vk-gray.svg);
  width: 18px;
  height: 22px;
}
.icon-vk-gray:hover {
  background-image: url(/img/svg/vk-blue.svg);
}


.icon-instagram-gray {
  background-image: url(/img/svg/instagram-gray.svg);
  width: 18px;
  height: 22px;
}
.icon-instagram-gray:hover {
  background-image: url(/img/svg/instagram-blue.svg);
}


.icon-cloud-blue {
  background-image: url(/img/svg/cloud-blue.svg);
  width: 23px;
  height: 28px;
}
header .header-links .header_link:hover .icon-cloud-blue{
  background-image: url(/img/svg/cloud-white.svg);
  background-repeat: no-repeat;
}


.icon-headset-blue {
  background-image: url(/img/svg/headset-blue.svg);
  width: 23px;
  height: 28px;
}
header .header-links .header_link:hover .icon-headset-blue{
  background-image: url(/img/svg/headset-white.svg);
  background-repeat: no-repeat;
}


.icon-placeholder-blue {
  background-image: url(/img/svg/placeholder-blue.svg);
  width: 21px;
  height: 23px;
}


.icon-mail {
  background-image: url(/img/svg/mail.svg);
  width: 21px;
  height: 23px;
}


.icon-skype {
  background-image: url(/img/svg/skype.svg);
  width: 38px;
  height: 38px;

}
.icon-skype:hover {
  width: 36px;
  height: 36px;
}


.icon-whatsapp {
  background-image: url(/img/svg/whatsapp.svg);
  width: 38px;
  height: 38px;
}
.icon-whatsapp:hover {
  width: 36px;
  height: 36px;
}


.icon-tick {
  background-image: url(/img/svg/tick.svg);
  width: 18px;
  height: 18px;
}


.icon-certificate {
  background-image: url(/img/svg/certificate.svg);
  width: 60px;
  height: 62px;
}

.icon-search-user {
  background-image: url(/img/svg/search-user.svg);
  width: 60px;
  height: 62px;
}

.icon-time-24-7 {
  background-image: url(/img/svg/time-24-7.svg);
  width: 60px;
  height: 62px;
}

.icon-finance{
  background-image: url(/img/svg/finance.svg);
  width: 60px;
  height: 62px;
}

.icon-down-arrow{
  background-image: url(/img/svg/down-arrow.svg);
  width: 15px;
  height: 15px;
}

.icon-arrow-left-gray{
  background-image: url(/img/svg/arrow-left-gray.svg);
  width: 36px;
  height: 36px;
}

.icon-arrow-right-gray{
  background-image: url(/img/svg/arrow-right-gray.svg);
  width: 36px;
  height: 36px;
}

.icon-arrow-left-red{
  background-image: url(/img/svg/arrow-left-red.svg);
  width: 36px;
  height: 36px;
}

.icon-arrow-right-red{
  background-image: url(/img/svg/arrow-right-red.svg);
  width: 36px;
  height: 36px;
}



